<!DOCTYPE html>
<html lang="th">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>aBorrow เปรียบเทียบสินเชื่อ</title>
<!-- Bootstrap & CSS -->
<!-- <link href="style.css" rel="stylesheet"> -->


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
<!-- <link href='https://fonts.googleapis.com/css?family=Kanit:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=thai,latin' rel='stylesheet' type='text/css'> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.colorbox-min.js"></script>
<script src="assets/js/script.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-route.min.js"></script>
<script src="assets/js/firebase.js"></script>
<script src="assets/js/angularfire.min.js"></script>
<script src="assets/js/dynamic-number.min.js"></script>
<script src="assets/js/tabs.js"></script>
<script src="assets/js/sticky.min.js"></script>
<script src="assets/js/angular-bootstrap-checkbox.js"></script>
<script src="app/app.js"></script>
<script src="app/controller.js"></script>

<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/css/colorbox.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/wp-header.css" rel="stylesheet">
<link href="assets/css/responsive.css" rel="stylesheet">

<!-- <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDg1Hfu7KlBd6u51q8NE80_yet4yDix9Jc",
    authDomain: "aborrow-e765a.firebaseapp.com",
    databaseURL: "https://aborrow-e765a.firebaseio.com",
    storageBucket: "aborrow-e765a.appspot.com",
  };
  firebase.initializeApp(config);
</script> -->
    
</head>

<body>
<div ng-app="app" ng-controller="mainController">
<!-- Page Header -->
<div class="page-cover">
	<div class="container">

		<!-- Header -->
		<div class="row">
			<div class="col-lg-3"> <a href="index.html"><img src="assets/img/logo.png" class="img-responsive" alt=""/></a> </div>
			<div class="col-lg-9">
				<nav class="main-nav">
				</nav>
			</div>
		</div>
		<!-- Header -->

		<hr>
	</div>
</div>

<div class="container">
		<div class="row"  ng-repeat="u in user_data">
			<section  class="collapse-box">
				<header class="collapse-head">
					<h3>{{u.user.name}} - T.{{u.user.phone}}</h3>
				</header>
				<article class="collapse-body">
					<table class="table">
						<tr>
							<td>Borrower</td>
							<td>
								<li>Name: {{u.user.name}}</li>
								<li>Phone: {{u.user.phone}}</li>
								<li>Email: {{u.user.email}}</li>
							</td>
						</tr>
						<tr>
							<td>Loan Amount</td>
							<td>
								{{u.loanAmount | number:0}}
							</td>
						</tr>
						<tr>
							<td>Loan Term</td>
							<td>
								{{u.loanTerm}} months
							</td>
						</tr>
						<tr>
							<td>Occupation</td>
							<td>
								{{u.occupation}}
							</td>
						</tr>
						<tr>
							<td>Salary</td>
							<td>
								{{u.salary | number:0}} บาทต่อเดือน
							</td>
						</tr>
						<tr>
							<td>อายุงาน</td>
							<td>
								{{u.work_exp}} เดือน
							</td>
						</tr>

						<tr>
							<td>
								สินเชื่อที่เลือก
							</td>
							<td>
								<table class="table" ng-repeat="l in u.selectedLoans">
									<tr>
										<td>Bank</td>
										<td>
										<div class="col-lg-1">
											<img style="max-width: 30px; vertical-align:middle;" ng-src="{{l.logo}}" class="img-responsive" alt="">
										</div>
										<div class="col-lg-11">
											{{l.bank_name}}-{{l.loan_name}}
										</div>
								</td>
									</tr>
									<tr>
										<td>Interests</td>
										<td>{{l.interest.min || 0}}-{{l.interest.max || 0}}%</td>
									</tr>
									<tr>
										<td>ดอกเบี้ยตามเงื่อนไขและคุณสมบัติผู้กู้</td>
										<td>{{l.precieInt || '-'}}%</td>
									</tr>
									<tr>
										<td>ชำระต่อเดือน</td>
										<td>{{l.monthlyRepayment}}บาท</td>
									</tr>
									<tr>
										<td>คุณสมบัติ</td>
										<td>{{l.qualifications[u.occupation]}}</td>
									</tr>
									<tr>
										<td>เอกสาร</td>
										<td>{{l.documents[u.occupation] | json:4}}</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</article>
			</section>
		</div>
</div>

</div>

</body>
</html>