<section class="filter-section">
    <div class="container">
        <div class="row" id="offer-content">
            <div class="col-md-12">
                <!-- Tab panes -->
                <h2 class="title blue-title">เลือกประเภทสินเชื่อที่ต้องการ</h2>
                <ul class="menu-tab">
                    <li class="current-menu-item"><a href="javascript:void(0)">เงินสด</a></li>
                    <li><a href="javascript:void(0)">บ้าน</a></li>
                    <li><a>รถ</a></li>
                    <li><a>ธุรกิจ</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="cash">
                        <section class="collapse-box">
                            <div class="form-info">
                                <div class="item col-4">
                                    <div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="loan_type_cal" ng-model="compare.loan_type_cal" value="installment"/>
                                                คำนวนวงเงินกู้
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="loan_type_cal" ng-model="compare.loan_type_cal" value="loan"/>
                                                คำนวนยอดผ่อน
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-4">
                                    <div>
                                        <h4 class="title" ng-if="compare.loan_type_cal === 'installment'">ยอดผ่อนต่อเดือน</h4>
                                        <h4 class="title" ng-if="compare.loan_type_cal === 'loan'">วงเงินกู้</h4>
                                        <input awnum num-thousand="true" num-int="8" type="text" class="form-control" id="loanAmount" ng-blur="focusNext($event)" ng-model="compare.loanAmount" placeholder="วงเงินที่ต้องการกู้ (บาท)">
                                    </div>
                                    <div>
                                        <h4 class="title">ระยะเวลาการกู้ (เดือน)</h4>
                                        <dropdown placeholder="กรุณาเลือกระยะเวลาการกู้ (เดือน)" ng-model="compare.loanTerm" name="loanTerm" selected="focusNext($event)" items="[12,24,36,48,60,72]"></dropdown>
                                    </div>
                                    <div>
                                        <h4 class="title">อาชีพ</h4>
                                        <dropdown placeholder="กรุณาเลือกอาชีพ" ng-model="compare.occupation" name="occupation" items="occupations" selected="focusNext($event)" property="value"></dropdown>
                                    </div>
                                    <div>
                                        <h4 class="title">รายได้ต่อเดือน(บาท)</h4>
                                        <input awnum num-thousand="true" num-int="8" ng-model="compare.salary" id="salary" type="text" ng-blur="focusNext($event)" class="form-control" placeholder="รายได้ต่อเดือน  (บาท)">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bank-section">
    <div class="container">
        <h1 class="title">สินเชื่อที่ดีที่สุดวันนี้ จากสถาบันการเงินชั้นนำ</h1>
        <ul class="bank-icon-list">
            <li><img src="assets/banks_logo/scb.png" alt=""></li>
            <li><img src="assets/banks_logo/kbank.png" alt=""></li>
            <li><img src="assets/banks_logo/krungsri.png" alt=""></li>
            <li><img src="assets/banks_logo/bbl.png" alt=""></li>
            <li><img src="assets/banks_logo/ktc.png" alt=""></li>
            <li><img src="assets/banks_logo/ktb.gif" alt=""></li>
            <li><img src="assets/banks_logo/thanachart.png" alt=""></li>
            <li><img src="assets/banks_logo/tmb.png" alt=""></li>
            <li><img src="assets/banks_logo/citi.png" alt=""></li>
            <li><img src="assets/banks_logo/standard.png" alt=""></li>
            <li><img src="assets/banks_logo/cimb.png" alt=""></li>
            <li><img src="assets/banks_logo/uob.png" alt=""></li>
            <li><img src="assets/banks_logo/aeon.png" alt=""></li>
        </ul>
    </div>
</section>
<div class="divider-top"></div>
<section class="offer-body">
    <div class="container">
        <div class="col-md-10 loan-offer">
            <ul class="menu-tab">
                <li ng-class="{'current-menu-item':compare.loan_type==='loan'}" ng-model="compare.loan_type" ng-click="setLoanType('loan')"><a href="javascript:void(0)">สินเชื่อส่วนบุคคล</a></li>
                <li ng-class="{'current-menu-item':compare.loan_type==='card'}" ng-model="compare.loan_type" ng-click="setLoanType('card')"><a href="javascript:void(0)">บัตรกดเงินสด</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" ng-include="templateURL">

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <a ng-disabled="selected.length === 0" ng-click="register()" class="btn btn-success register-btn">สมัครเลย</a>
            </div>
            <div class="contact-section">
                <h4 class="title">ติดต่อที่ปรึษาสินเชื่อ</h4>
                <img src="assets/img/Person-icon.png" alt="">
                <h4 class="title contact-name">วรภพ วิริยะโรจน์</h4>
                <h3 class="title contact-phone">089 492 3675</h3>
                <div class="contact-social facebook">
                    <img src="assets/img/download.png">
                    <div class="msg">
                        <span style="font-size:16px;">คุยกับเราทาง</span>
                        <h3 class="title">Facebook</h3>
                    </div>
                </div>
                <div class="contact-social line">
                    <img src="assets/img/line_logo.png">
                    <div class="msg">
                        <h3 class="title">@aborrow</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="register-form">
                    <form ng-submit="saveUserData()" name="form">
                        <ul class="loan-selected-list">
                            <li ng-repeat="s in selected" class="{{s.eng_name}}">
                                <div>
                                    <img ng-src="{{s.logo}}" class="img-responsive" alt="">
                                </div>
                                <div class="loan-selected-title">
                                    <h2>{{s.loan_name}}</h2>
                                </div>
                            </li>
                        </ul>
                        <h2 class="title blue-title text-center">รายละเอียดสินเชื่อที่ท่านเลือก</h2>
                        <div class="form-signup-info">
                            <div class="item col-1">
                                <div>
                                    <h4 class="title">จำนวนเงินที่ต้องการกู้</h4>
                                    <input awnum num-thousand="true" num-int="8" type="text" class="input-info" ng-model="compare.loanAmount" readonly/>
                                </div>
                            </div>
                            <div class="item col-1">
                                <div>
                                    <h4 class="title">ประเภทสินเชื่อ</h4>
                                    <select class="input-info" ng-model="compare.loan_type" autocomplete="off" disabled>
                                    <option value="">กรุณาเลือกประเภทสินเชื่อ</option>
                                    <option value="loan">สินเชื่อส่วนบุคคล</option>
                                    <option value="card">บัตรกดเงินสด</option>
                                </select>
                                </div>
                            </div>
                            <div class="item col-1">
                                <div>
                                    <h4 class="title">ระยะเวลากู้</h4>
                                    <input awnum num-thousand="true" num-int="8" type="text" class="input-info" ng-model="compare.loanTerm" readonly/>
                                </div>
                            </div>
                        </div>
                        <h2 class="title blue-title text-center">ข้อมูลผู้กู้</h2>
                        <div class="form-signup-info">
                            <div class="item col-2">
                                <div class="require">
                                    <h4 class="title">ชื่อจริง</h4>
                                    <input type="text" class="input-info" ng-model="user.name" value="จอห์น" required />
                                </div>
                                <div class="require">
                                    <h4 class="title">นามสกุล</h4>
                                    <input type="text" class="input-info" ng-model="user.surname" value="โด" required />
                                </div>
                            </div>
                            <div class="item col-1">
                                <div class="require">
                                    <h4 class="title">โทรศัพท์</h4>
                                    <input type="tel" class="input-info" ng-model="user.mobileNumber" value="0867768894" required />
                                </div>
                            </div>
                            <div class="item col-1">
                                <div class="require">
                                    <h4 class="title"> อีเมล์
                                     <span class="error-message" ng-if="form.email.$invalid && form.email.$touched">
                                        กรอก email ให้ถูกต้อง
                                    </span>
                                </h4>
                                    <input type="email" class="input-info" name="email" ng-model="user.email" value="" required />
                                </div>
                            </div>
                        </div>
                        <div class="info-button text-center">
                            <button type="submit" ng-disabled="form.$invalid" class="btn btn-success btn-lg register-save-btn">สมัครกู้</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>