/* Scss Document */


/* XS */


/* LARGE SCREEN */

@media (max-width: 769px) {
    #offer-content {
        display: flex;
        flex-direction: column;
    }
    #offer-content > .col-md-3 {
        order: 2;
    }
}

@media (max-width: 1000px) {
    .form-info>.item.col-3>div,
    .form-info>.item.col-2>div,
    .form-info>.item.col-4>div {
        width: auto;
        float: none;
    }
    .register-form {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    #top-navigation {
        padding-left: 30px !important;
    }
    #main-header .container {
        width: 90%;
    }
    .logo_container > a > img {
        width: 75px;
    }
}

@media (max-width: 400px) {
    .nav>li>a>img {
        width: 40px;
    }
}