/* Basic Styles */

@font-face {
    font-family: "ETmodules";
    src: url("../fonts/ETmodules_v2_4.eot");
    src: url("../fonts/ETmodules_v2_4.eot?#iefix") format("embedded-opentype"), url("../fonts/ETmodules_v2_4.ttf") format("truetype"), url("../fonts/ETmodules_v2_4.woff") format("woff"), url("../fonts/ETmodules_v2_4.svg#ETmodules") format("svg");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#main-header {
    background-color: #fff;
    z-index: 100;
    width: 100%;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#top-header {
    background-color: #2ea3f2;
    height: 36px;
}

#main-header .container {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    height: 100%;
    position: relative;
    padding: 0;
}

#contact-info {
    text-align: left;
    color: #fff;
    line-height: 36px;
    font-weight: bold;
    font-family: 'kanit:400',sans-serif;
    font-size: 14px;
}

#contact-info a {
    color: #fff;
    text-decoration: none;
}

.info-phone,
.info-email {
    position: relative;
}

.info-phone:before,
.info-email:before,
.search_icon:before {
    font-family: "ETmodules" !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-transform: none;
}

.info-phone {
    margin-right: 13px;
}

.info-phone:before {
    position: relative;
    top: 2px;
    margin-right: 2px;
    content: "\e090";
}

.info-email:before {
    margin-right: 4px;
    content: "\e076";
}

.fixed-header {
    position: fixed;
    top: 0;
}

#header {
    height: 80px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: relative;
    padding-bottom: 0;
    font-family: "Kanit:400",sans-serif;
}

.fixed-header #header {
    padding-bottom: 0;
    height: 54px;
}

#header .logo_container {
    display: inline-block;
    position: absolute;
    height: 100%;
}

span.logo_helper {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.logo_container {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#logo {
    display: inline-block;
    max-height: 54%;
    margin-bottom: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

#top-navigation {
    display: block;
    position: absolute;
    line-height: 1;
    text-align: center;
    padding-top: 22px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.fixed-header #top-navigation {
    padding-top: 10px;
}

#top-menu,
#mobile_menu {
    list-style: none;
}

#top-menu li {
    display: inline-block;
    padding-right: 22px;
    font-size: 14px;
    font-weight: bold;
}

#top-menu > li:last-child {
    padding-right: 0;
}

#top-menu a {
    display: block;
    position: relative;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: #fff;
    padding: 10px 0;
}
#top-menu-nav > ul > li > a:hover,
.info-email:hover {
    opacity: 0.7;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}

nav#top-menu-nav,
#top-menu,
#top_search {
    display: inline-block;
}

#top_search {
    display: none;
    position: relative;
    width: 18px;
    margin-left: 0px;
}

.search_icon {
    cursor: pointer;
}

.search_icon:before {
    font-size: 17px;
    content: "\55";
}